################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerAPI/.vs/TaskManagerAPI/v15/Server/sqlite3/db.lock
/TaskManagerAPI
