<div *ngFor="let taskInfo of taskData">
<table>
  <thead>
      <tr>
          <th>Task</th>
          <th class="whiteThickLeftBorder">Parent</th>
          <th class="whiteThickLeftBorder">Priority</th>
          <th class="whiteThickLeftBorder">Start</th>
          <th class="whiteThickLeftBorder">End</th>
      </tr>
  </thead>
  <tbody>
      <tr> 
          <td class="highlightedGray">{{ taskInfo.name}}</td>
          <td class="highlightedGray whiteThickLeftBorder">{{ taskInfo.parentTaskName }}</td>
          <td>{{ taskInfo.priority }}</td>
          <td>{{ taskInfo.startDate | date:'shortDate' }}</td>
          <td>{{ taskInfo.endDate | date:'shortDate' }}</td>
          <td>
              <button (click)="editRecord(taskInfo)">Edit</button>
              
          </td>
          <td>
              <button (click)="deleteRecord(taskInfo)">End Task</button>
          </td>
      </tr>
  </tbody>
  </table>
  <hr style="border-top: dotted 1px;" />
</div>