table {
    margin-top: 1.5em;
}

td.highlightedGray
{
    padding: 30px;
    background: lightgray;
    width: 200px;
    text-align: center;
}

td{
    padding: 30px
}

th
{
    font-size: small;
    font-weight: bold;
}

.whiteThickLeftBorder
{
   border-left:  20px solid white
}