.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #716c6c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }

  /* .slider::-webkit-slider-thumb:hover {
    background: aqua;
  } */
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

  div.halfOfScreen
  {
      width: 50%
  }

label.addTaskLables
{
    font-size: small;
    font-weight: bold;
}

input.addTaskTextInput
{
    background-color: lightgray
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}